extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Shaun van Ardenne
        p.lead.text-light.border-none
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p.border-none
            |I am experienced and confident in front end development using mainly HTML5, Sass, and React. 
            |Currently studying back end JavaScript (node and express), the goal is to round out my skills to a full stack. As a Linux enthusiast, 
            |I work in a modified Ubuntu desktop environment, but am confident with both Windows and Mac. A constant learner, I am continually expanding my skillset.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li React
          li Express
          li Pug
          li Sass
          li Bootstrap
          li Git
          li Npm
          li HTML
          li CSS
          li JavaScript
        h6 Contact Info

        ul
          li 778-347-7240
          li s.vanardenne@gmail.com

        a.button.expanded(target="_blank" href='https://www.linkedin.com/in/shaun-van-ardenne/') LinkedIn
        a.button.expanded(target="_blank" href='https://github.com/svanardenne') GitHub
        a.button.expanded(target="_blank" href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  