extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Shaun van Ardenne
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            |I began teaching myself to code as a hobby after work only to discover that I loved it. Shortly after, my new career path started.
            |I find the puzzles in this line of work to be interesting and quite exciting. The challenges of learning new languages and fixing 
            |issues deep in the code is what I thrive on. React development is my current focus.
          p
            |At the present moment, I am experienced and confident in front end development using mainly HTML5, Sass, and React. 
            |I am currently studying back end JavaScript (node and express) in order to round out my skills to a full stack. As a Linux enthusiast, 
            |I work in a modified Ubuntu desktop environment, but am confident with both Windows and Mac. A constant learner, I am continually expanding my skillset.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li React
          li Express
          li Pug
          li Sass
          li Bootstrap
          li Git
          li Npm
          li HTML
          li CSS
          li JavaScript
        h6 Contact Info

        //- Add your own contact info
        ul
          li 778-347-7240
          li s.vanardenne@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(target="_blank" href='https://www.linkedin.com/in/shaun-van-ardenne/') LinkedIn
        a.button.expanded(target="_blank" href='https://github.com/svanardenne') GitHub
        a.button.expanded(target="_blank" href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  